:root {
  --bg-dark: #121213;
  --card-bg: #1a1a1b;
  --tile-empty: #272729;
  --correct: #6aaa64;
  --present: #c9b458;
  --absent: #3a3a3c;
  --key-bg: #818384;
  --text-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-white);
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

/* Cores de Feedback */
.correto {
  background-color: var(--correct) !important;
}
.presente {
  background-color: var(--present) !important;
}
.incorreto {
  background-color: var(--absent) !important;
}

/* Animação suave */
.flip {
  transform: rotateX(90deg);
}

.reveal {
  transform: rotateX(0deg);
  transition: transform 0.5s ease;
}
